In [1]:
import datetime as dt
import pandas as pd
import numpy as np

In [2]:
detalle = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/joins/avisos_detalle.csv')
online = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/joins/avisos_online.csv')

Limpiamos el set de tados detalle

In [3]:
detalle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45969 entries, 0 to 45968
Data columns (total 12 columns):
Unnamed: 0              45969 non-null int64
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
ciudad                  225 non-null object
mapacalle               3444 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45634 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45955 non-null object
dtypes: int64(3), object(9)
memory usage: 4.2+ MB

In [4]:
del detalle['Unnamed: 0']
del detalle['ciudad']
del detalle['mapacalle']

In [5]:
detalle = detalle.dropna(axis = 0, subset = ['denominacion_empresa'], how = 'any')

In [6]:
del detalle['idpais']

In [19]:
detalle = detalle.drop_duplicates(subset = 'idaviso')

In [8]:
detalle['idaviso'].value_counts()

1112414205    1
1112452639    1
1111770658    1
1112362531    1
1112505893    1
1112425196    1
1112346155    1
1112356396    1
1112417838    1
1112266288    1
1112274484    1
1112055353    1
1112260157    1
1111404095    1
1112299072    1
1112362563    1
1112203053    1
1112282696    1
1112421964    1
1111476991    1
1111891514    1
1112458834    1
1112460883    1
1112430112    1
1112385054    1
1112409578    1
1111735837    1
1112421868    1
1112202737    1
1111674355    1
             ..
1112261613    1
1112136686    1
1112396783    1
1112220657    1
1112409077    1
1112413111    1
1112224691    1
1112357810    1
1112289556    1
1112243066    1
1112300414    1
1112378244    1
1112376197    1
1112511367    1
1112482705    1
1112423314    1
1112470155    1
1112474517    1
1112374170    1
1112220593    1
1112425373    1
1112257443    1
1112472103    1
1112402856    1
1112400809    1
1112341418    1
1112273835    1
1112202158    1
1112325041    1
1112342528    1
Name: idaviso, Length: 25281, dtype: int64

In [9]:
detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25281 entries, 0 to 45968
Data columns (total 8 columns):
idaviso                 25281 non-null int64
titulo                  25281 non-null object
descripcion             25281 non-null object
nombre_zona             25281 non-null object
tipo_de_trabajo         25281 non-null object
nivel_laboral           24946 non-null object
nombre_area             25281 non-null object
denominacion_empresa    25281 non-null object
dtypes: int64(1), object(7)
memory usage: 1.7+ MB

In [10]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9886 entries, 0 to 9885
Data columns (total 2 columns):
Unnamed: 0    9886 non-null int64
idaviso       9886 non-null int64
dtypes: int64(2)
memory usage: 154.5 KB

In [11]:
del online['Unnamed: 0']
online['online'] = 1

In [12]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9886 entries, 0 to 9885
Data columns (total 2 columns):
idaviso    9886 non-null int64
online     9886 non-null int64
dtypes: int64(2)
memory usage: 154.5 KB

In [13]:
avisos = pd.merge(detalle, online, on='idaviso', how='left')

In [14]:
avisos['online'] = avisos['online']

In [20]:
avisos = avisos.drop_duplicates(subset = 'idaviso')

In [21]:
avisos.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/avisos')

In [22]:
avisos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25737 entries, 0 to 25736
Data columns (total 9 columns):
idaviso                 25737 non-null int64
titulo                  25737 non-null object
descripcion             25737 non-null object
nombre_zona             25737 non-null object
tipo_de_trabajo         25737 non-null object
nivel_laboral           25374 non-null object
nombre_area             25737 non-null object
denominacion_empresa    25737 non-null object
online                  25737 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 2.0+ MB

In [23]:
avisos['idaviso'].value_counts()

1112363253    2
1112044105    2
1112145679    2
1112053606    2
1000502125    2
1112348632    2
1112344754    2
1112385096    2
1112379215    2
1112366633    2
1111953893    2
1112353250    2
1112336264    2
1112348530    2
1112246640    2
1112344960    2
1112280937    2
1111676684    2
1112370939    2
1112256169    2
1112372518    2
1111983524    2
1112296292    2
1112373608    2
1112305373    2
1112303812    2
1112346093    2
1112338811    2
1112326525    2
1112246650    2
             ..
1112107800    1
1112490043    1
1112359709    1
1112431390    1
1112253217    1
1112357618    1
1112484592    1
1112357554    1
1112402632    1
1112500920    1
1112308410    1
1112228541    1
1112253121    1
1112259266    1
1112246980    1
1112441541    1
1112513222    1
1112249031    1
1112466121    1
1112462063    1
1112287952    1
1112220369    1
1112220362    1
1112367833    1
1112306395    1
1112409898    1
1112247012    1
1112249063    1
1112261357    1
1112342528    1
Name: idaviso, Length: 25281, dtype: int64