In [1]:
import datetime as dt
import pandas as pd
import numpy as np

In [2]:
postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/postulantes')

In [3]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438597 entries, 0 to 438596
Data columns (total 8 columns):
Unnamed: 0         438597 non-null int64
idpostulante       438597 non-null object
fechanacimiento    438597 non-null object
sexo               438597 non-null object
edad               438597 non-null int64
nombre             438597 non-null object
estado             438597 non-null object
nombre-estado      438597 non-null object
dtypes: int64(2), object(6)
memory usage: 26.8+ MB

In [4]:
postulantes.head()

,Unnamed: 0,idpostulante,fechanacimiento,sexo,edad,nombre,estado,nombre-estado
0,0,YZP,1961-05-01,MASC,57,Master,En Curso,Master - En Curso
1,1,ebE,1952-07-07,MASC,66,Posgrado,Graduado,Posgrado - Graduado
2,3,ZjlZ,1970-01-25,MASC,48,Master,Graduado,Master - Graduado
3,5,aEW8J,1965-05-19,FEM,53,Universitario,En Curso,Universitario - En Curso
4,8,8QGRj,1980-09-07,FEM,38,Universitario,En Curso,Universitario - En Curso

In [5]:
#SEXO: Femenino 1 - Masculino 0
def sexo_to_num(sexo):
    if sexo == 'MASC':
        return 0
    if sexo == 'FEM':
        return 1
    else:
        return 0.5

In [6]:
postulantes['sexo'] = postulantes['sexo'].apply(lambda s: sexo_to_num(s))

In [7]:
postulantes['fechanacimiento'] = pd.to_datetime(postulantes['fechanacimiento'])

In [8]:
#Fecha Nacimiento: a año, mes, día
postulantes['anionacimiento'] = postulantes['fechanacimiento'].map(lambda f: f.year)
postulantes['mesnacimiento'] = postulantes['fechanacimiento'].map(lambda f: f.month)
postulantes['dianacimiento'] = postulantes['fechanacimiento'].map(lambda f: f.day)

In [9]:
del postulantes['Unnamed: 0']
del postulantes['fechanacimiento']

In [10]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0.0,57,Master,En Curso,Master - En Curso,1961,5,1
1,ebE,0.0,66,Posgrado,Graduado,Posgrado - Graduado,1952,7,7
2,ZjlZ,0.0,48,Master,Graduado,Master - Graduado,1970,1,25
3,aEW8J,1.0,53,Universitario,En Curso,Universitario - En Curso,1965,5,19
4,8QGRj,1.0,38,Universitario,En Curso,Universitario - En Curso,1980,9,7

In [11]:
estado_to_num_d = { 'Abandonado' : 0,
                'En Curso': 1, 
                'Graduado': 2}

def estado_to_num(estado):
    return estado_to_num_d[estado]

In [12]:
postulantes['estado'] = postulantes['estado'].map(lambda e: estado_to_num(e))

In [13]:
nombre_to_num = {'Otro': 0,
'Secundario': 1,
 'Terciario/Tecnico':2,
 'Universitario': 3,
 'Posgrado': 4,
 'Master': 5,
 'Doctorado': 6}
postulantes['nombre'] = postulantes['nombre'].map(lambda n: nombre_to_num[n])

In [14]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0.0,57,5,1,Master - En Curso,1961,5,1
1,ebE,0.0,66,4,2,Posgrado - Graduado,1952,7,7
2,ZjlZ,0.0,48,5,2,Master - Graduado,1970,1,25
3,aEW8J,1.0,53,3,1,Universitario - En Curso,1965,5,19
4,8QGRj,1.0,38,3,1,Universitario - En Curso,1980,9,7

In [15]:
nombre_estado_to_num = {'Otro - Abandonado': 0,
 'Otro - En Curso': 1,                                        
 'Otro - Graduado': 2, 
'Secundario - Abandonado': 3,
 'Secundario - En Curso':4,
 'Secundario - Graduado':5,
 'Terciario/Tecnico - Abandonado': 6,
 'Terciario/Tecnico - En Curso':7,
 'Terciario/Tecnico - Graduado':8,
 'Universitario - Abandonado':9,
 'Universitario - En Curso':10,
 'Universitario - Graduado':11,
'Posgrado - Abandonado':12,
 'Posgrado - En Curso':13,
 'Posgrado - Graduado':14,
 'Master - Abandonado':15,
 'Master - En Curso':16,
 'Master - Graduado':17,
'Doctorado - Abandonado':18,
 'Doctorado - En Curso':19,
 'Doctorado - Graduado':20}
postulantes['nombre-estado'] = postulantes['nombre-estado'].map(lambda ne: nombre_estado_to_num[ne])

In [16]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0.0,57,5,1,16,1961,5,1
1,ebE,0.0,66,4,2,14,1952,7,7
2,ZjlZ,0.0,48,5,2,17,1970,1,25
3,aEW8J,1.0,53,3,1,10,1965,5,19
4,8QGRj,1.0,38,3,1,10,1980,9,7

In [17]:
postulantes.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/postulantes_to_train_1.csv', index = False)

In [18]:
p2 = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/postulantes_to_train_1.csv')

In [19]:
p2.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0.0,57,5,1,16,1961,5,1
1,ebE,0.0,66,4,2,14,1952,7,7
2,ZjlZ,0.0,48,5,2,17,1970,1,25
3,aEW8J,1.0,53,3,1,10,1965,5,19
4,8QGRj,1.0,38,3,1,10,1980,9,7

In [20]:
p2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438597 entries, 0 to 438596
Data columns (total 9 columns):
idpostulante      438597 non-null object
sexo              438597 non-null float64
edad              438597 non-null int64
nombre            438597 non-null int64
estado            438597 non-null int64
nombre-estado     438597 non-null int64
anionacimiento    438597 non-null int64
mesnacimiento     438597 non-null int64
dianacimiento     438597 non-null int64
dtypes: float64(1), int64(7), object(1)
memory usage: 30.1+ MB