In [1]:
import datetime as dt
import pandas as pd
import numpy as np

In [2]:
postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/postulantes2')

In [3]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504407 entries, 0 to 504406
Data columns (total 8 columns):
Unnamed: 0         504407 non-null int64
idpostulante       504407 non-null object
fechanacimiento    478300 non-null object
sexo               504407 non-null object
edad               504407 non-null int64
nombre             447909 non-null object
estado             447909 non-null object
nombre-estado      447909 non-null object
dtypes: int64(2), object(6)
memory usage: 30.8+ MB

In [4]:
postulantes.head()

,Unnamed: 0,idpostulante,fechanacimiento,sexo,edad,nombre,estado,nombre-estado
0,0,6MM,1985-01-01,MASC,34,NaN,NaN,NaN
1,2,ZX1,NaN,NO_DECLARA,56,NaN,NaN,NaN
2,4,YZP,1961-05-01,MASC,57,Master,En Curso,Master - En Curso
3,5,ebE,1952-07-07,MASC,66,Posgrado,Graduado,Posgrado - Graduado
4,7,N1x,NaN,NO_DECLARA,22,NaN,NaN,NaN

In [5]:
#SEXO: Femenino 1 - Masculino 0
def sexo_to_num(sexo):
    if sexo == 'MASC':
        return 0
    if sexo == 'FEM':
        return 1
    else:
        return 0.5

In [6]:
postulantes['sexo'] = postulantes['sexo'].apply(lambda s: sexo_to_num(s))

In [7]:
postulantes['fechanacimiento'] = pd.to_datetime(postulantes['fechanacimiento'], errors = 'coerce')

In [8]:
def fecha_to_year(f, edad):
    if str(f) == 'NaT':
        return (2018 - edad)
    else:
        return f.year
def fecha_to_mes(f):
    if str(f) == 'NaT':
        return ((np.random.rand()*100)%12)+1
    else:
        return f.month
def fecha_to_day(f):
    if str(f) == 'NaT':
        return ((np.random.rand()*100)%30)+1
    else: 
        return f.day

In [9]:
postulantes.tail()

,Unnamed: 0,idpostulante,fechanacimiento,sexo,edad,nombre,estado,nombre-estado
504402,780015,bOjBk8b,1974-12-19,1.0,44,Terciario/Tecnico,Graduado,Terciario/Tecnico - Graduado
504403,780016,GNZr6QK,NaT,0.5,60,NaN,NaN,NaN
504404,780017,bOjBkvd,1995-01-05,1.0,23,NaN,NaN,NaN
504405,780018,5mPzjGX,1996-06-17,1.0,22,NaN,NaN,NaN
504406,780019,jkjPrKb,NaT,0.5,33,NaN,NaN,NaN

In [17]:
#Fecha Nacimiento: a año, mes, día
postulantes['anionacimiento'] = postulantes['edad'].apply(lambda x: 2018-x)
#postulantes['mesnacimiento'] = postulantes['fechanacimiento'].apply(lambda f: fecha_to_mes(f))
#postulantes['dianacimiento'] = postulantes['fechanacimiento'].apply(lambda f: fecha_to_day(f))

In [19]:
#postulantes['anionacimiento'] = postulantes['fechanacimiento'].apply(lambda f: fecha_to_year(f, postulantes['edad']))
postulantes['mesnacimiento'] = postulantes['fechanacimiento'].apply(lambda f: int(fecha_to_mes(f)))
#postulantes['dianacimiento'] = postulantes['fechanacimiento'].apply(lambda f: fecha_to_day(f))

KeyError: 'fechanacimiento'

In [11]:
#postulantes['anionacimiento'] = postulantes['fechanacimiento'].apply(lambda f: fecha_to_year(f, postulantes['edad']))
#postulantes['mesnacimiento'] = postulantes['fechanacimiento'].apply(lambda f: fecha_to_mes(f))
postulantes['dianacimiento'] = postulantes['fechanacimiento'].apply(lambda f: int(fecha_to_day(f))

In [13]:
del postulantes['Unnamed: 0']
del postulantes['fechanacimiento']

In [26]:
estado_to_num_d = { 'Abandonado' : 0,
                'En Curso': 1, 
                'Graduado': 2}

def estado_to_num(estado):
    if str(estado) == 'NaN' or str(estado) == 'nan':
        return int((np.random.rand()*100)%3)
    return estado_to_num_d[estado]

In [22]:
int(7.5%2)

1

In [21]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,mesnacimiento,dianacimiento,anionacimiento
0,6MM,0.0,34,NaN,NaN,NaN,1.000000,1.000000,1984
1,ZX1,0.5,56,NaN,NaN,NaN,2.820765,6.048384,1962
2,YZP,0.0,57,Master,En Curso,Master - En Curso,5.000000,1.000000,1961
3,ebE,0.0,66,Posgrado,Graduado,Posgrado - Graduado,7.000000,7.000000,1952
4,N1x,0.5,22,NaN,NaN,NaN,3.685416,7.908257,1996

In [27]:
postulantes['estado'] = postulantes['estado'].map(lambda e: estado_to_num(e))

In [32]:
nombre_to_num_d = {'Otro': 0,
'Secundario': 1,
 'Terciario/Tecnico':2,
 'Universitario': 3,
 'Posgrado': 4,
 'Master': 5,
 'Doctorado': 6}
def nombre_to_num(nombre):
    if str(nombre) == 'NaN' or str(nombre) == 'nan':
        return int((np.random.rand()*100)%7)
    return nombre_to_num_d[nombre]
postulantes['nombre'] = postulantes['nombre'].map(lambda n: nombre_to_num(n))

In [33]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,mesnacimiento,dianacimiento,anionacimiento
0,6MM,0.0,34,0,2,NaN,1.000000,1.000000,1984
1,ZX1,0.5,56,3,0,NaN,2.820765,6.048384,1962
2,YZP,0.0,57,5,1,Master - En Curso,5.000000,1.000000,1961
3,ebE,0.0,66,4,2,Posgrado - Graduado,7.000000,7.000000,1952
4,N1x,0.5,22,1,2,NaN,3.685416,7.908257,1996

In [36]:
nombre_estado_to_num_d = {'Otro - Abandonado': 0,
 'Otro - En Curso': 1,                                        
 'Otro - Graduado': 2, 
'Secundario - Abandonado': 3,
 'Secundario - En Curso':4,
 'Secundario - Graduado':5,
 'Terciario/Tecnico - Abandonado': 6,
 'Terciario/Tecnico - En Curso':7,
 'Terciario/Tecnico - Graduado':8,
 'Universitario - Abandonado':9,
 'Universitario - En Curso':10,
 'Universitario - Graduado':11,
'Posgrado - Abandonado':12,
 'Posgrado - En Curso':13,
 'Posgrado - Graduado':14,
 'Master - Abandonado':15,
 'Master - En Curso':16,
 'Master - Graduado':17,
'Doctorado - Abandonado':18,
 'Doctorado - En Curso':19,
 'Doctorado - Graduado':20}
def nombre_estado_to_num(ne):
    if str(ne) == 'NaN' or str(ne) == 'nan':
        return int((np.random.rand()*100)%21)
    return nombre_estado_to_num_d[ne]
postulantes['nombre-estado'] = postulantes['nombre-estado'].map(lambda ne: nombre_estado_to_num(ne))

In [39]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,mesnacimiento,dianacimiento,anionacimiento
0,6MM,0.0,34,0,2,14,1,1,1984
1,ZX1,0.5,56,3,0,16,2,6,1962
2,YZP,0.0,57,5,1,16,5,1,1961
3,ebE,0.0,66,4,2,14,7,7,1952
4,N1x,0.5,22,1,2,14,3,7,1996

In [38]:
#postulantes['anionacimiento'] = postulantes['fechanacimiento'].apply(lambda f: fecha_to_year(f, postulantes['edad']))
postulantes['mesnacimiento'] = postulantes['mesnacimiento'].apply(lambda f: int(f))
postulantes['dianacimiento'] = postulantes['dianacimiento'].apply(lambda f: int(f))

In [40]:
postulantes.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/postulantes_to_train_2.csv', index = False)

In [18]:
p2 = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/postulantes_to_train_1.csv')

In [19]:
p2.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0.0,57,5,1,16,1961,5,1
1,ebE,0.0,66,4,2,14,1952,7,7
2,ZjlZ,0.0,48,5,2,17,1970,1,25
3,aEW8J,1.0,53,3,1,10,1965,5,19
4,8QGRj,1.0,38,3,1,10,1980,9,7

In [20]:
p2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438597 entries, 0 to 438596
Data columns (total 9 columns):
idpostulante      438597 non-null object
sexo              438597 non-null float64
edad              438597 non-null int64
nombre            438597 non-null int64
estado            438597 non-null int64
nombre-estado     438597 non-null int64
anionacimiento    438597 non-null int64
mesnacimiento     438597 non-null int64
dianacimiento     438597 non-null int64
dtypes: float64(1), int64(7), object(1)
memory usage: 30.1+ MB