In [2]:
import datetime as dt
import pandas as pd
import numpy as np

In [3]:
postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/postulantes')

In [4]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438597 entries, 0 to 438596
Data columns (total 8 columns):
Unnamed: 0         438597 non-null int64
idpostulante       438597 non-null object
fechanacimiento    438597 non-null object
sexo               438597 non-null object
edad               438597 non-null int64
nombre             438597 non-null object
estado             438597 non-null object
nombre-estado      438597 non-null object
dtypes: int64(2), object(6)
memory usage: 26.8+ MB

In [5]:
postulantes.head()

,Unnamed: 0,idpostulante,fechanacimiento,sexo,edad,nombre,estado,nombre-estado
0,0,YZP,1961-05-01,MASC,57,Master,En Curso,Master - En Curso
1,1,ebE,1952-07-07,MASC,66,Posgrado,Graduado,Posgrado - Graduado
2,3,ZjlZ,1970-01-25,MASC,48,Master,Graduado,Master - Graduado
3,5,aEW8J,1965-05-19,FEM,53,Universitario,En Curso,Universitario - En Curso
4,8,8QGRj,1980-09-07,FEM,38,Universitario,En Curso,Universitario - En Curso

In [6]:
#SEXO: Femenino 1 - Masculino 0
def sexo_to_num(sexo):
    if sexo == 'MASC':
        return 0
    if sexo == 'FEM':
        return 1
    else:
        return 0.5

In [8]:
postulantes['sexo'] = postulantes['sexo'].apply(lambda s: sexo_to_num(s))

In [10]:
postulantes['fechanacimiento'] = pd.to_datetime(postulantes['fechanacimiento'])

In [22]:
#Fecha Nacimiento: a año, mes, día
postulantes['anionacimiento'] = postulantes['fechanacimiento'].map(lambda f: f.year)
postulantes['mesnacimiento'] = postulantes['fechanacimiento'].map(lambda f: f.month)
postulantes['dianacimiento'] = postulantes['fechanacimiento'].map(lambda f: f.day)

In [27]:
del postulantes['fechanacimiento']

In [28]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0.0,57,Master,En Curso,Master - En Curso,1961,5,1
1,ebE,0.0,66,Posgrado,Graduado,Posgrado - Graduado,1952,7,7
2,ZjlZ,0.0,48,Master,Graduado,Master - Graduado,1970,1,25
3,aEW8J,1.0,53,Universitario,En Curso,Universitario - En Curso,1965,5,19
4,8QGRj,1.0,38,Universitario,En Curso,Universitario - En Curso,1980,9,7

In [35]:
estado_to_num_d = { 'Abandonado' : 0,
                'En Curso': 1, 
                'Graduado': 2}

def estado_to_num(estado):
    return estado_to_num_d[estado]

In [38]:
postulantes['estado'] = postulantes['estado'].map(lambda e: estado_to_num(e))

In [40]:
nombre_to_num = {'Otro': 0,
'Secundario': 1,
 'Terciario/Tecnico':2,
 'Universitario': 3,
 'Posgrado': 4,
 'Master': 5,
 'Doctorado': 6}
postulantes['nombre'] = postulantes['nombre'].map(lambda n: nombre_to_num[n])

In [41]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0.0,57,5,1,Master - En Curso,1961,5,1
1,ebE,0.0,66,4,2,Posgrado - Graduado,1952,7,7
2,ZjlZ,0.0,48,5,2,Master - Graduado,1970,1,25
3,aEW8J,1.0,53,3,1,Universitario - En Curso,1965,5,19
4,8QGRj,1.0,38,3,1,Universitario - En Curso,1980,9,7

In [ ]:
nombre_estado_to_num = {'Otro - Abandonado': 0,
 'Otro - En Curso': 1,                                        
 'Otro - Graduado': 2, 
'Secundario - Abandonado': 3,
 'Secundario - En Curso',
 'Secundario - Graduado',
 'Terciario/Tecnico - Abandonado',
 'Terciario/Tecnico - En Curso',
 'Terciario/Tecnico - Graduado',
 'Universitario - Abandonado',
 'Universitario - En Curso',
 'Universitario - Graduado',
'Posgrado - Abandonado',
 'Posgrado - En Curso',
 'Posgrado - Graduado',
 'Master - Abandonado',
 'Master - En Curso',
 'Master - Graduado',
'Doctorado - Abandonado',
 'Doctorado - En Curso',
 'Doctorado - Graduado'}