In [1]:
import datetime as dt
import pandas as pd
import numpy as np

In [2]:
datos = pd.read_csv('/home/luupesado/7506_Datos/2018/test_final_100k.csv')

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
id              100000 non-null int64
idaviso         100000 non-null int64
idpostulante    100000 non-null object
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [13]:
datos['sepostulo'] = 0

In [5]:
del datos['idaviso']
del datos['idpostulante']

In [15]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
id           100000 non-null int64
sepostulo    100000 non-null int64
dtypes: int64(2)
memory usage: 1.5 MB

In [19]:
datos.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [18]:
datos.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_0.csv', index = False)

In [20]:
datos['sepostulo'] = 1

In [22]:
datos.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_1.csv', index = False)

In [12]:
datos = pd.read_csv('/home/luupesado/7506_Datos/2018/test_final_100k.csv')

   id  sepostulo
0   0          1
1   1          1
2   2          1
3   3          1
4   4          1