In [2]:
import datetime as dt
import pandas as pd
import numpy as np

In [36]:
#avisos = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/avisos')
#postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/postulantes')
postulaciones = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/joins/postulaciones.csv')

In [37]:
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8311264 entries, 0 to 8311263
Data columns (total 4 columns):
Unnamed: 0          int64
idaviso             int64
idpostulante        object
fechapostulacion    object
dtypes: int64(2), object(2)
memory usage: 253.6+ MB

In [38]:
del postulaciones['Unnamed: 0']

In [6]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [39]:
del postulaciones['fechapostulacion']

In [40]:
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8311264 entries, 0 to 8311263
Data columns (total 2 columns):
idaviso         int64
idpostulante    object
dtypes: int64(1), object(1)
memory usage: 126.8+ MB

In [42]:
postulaciones['sepostulo'] = 1

In [43]:
postulaciones.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/Training_set1.csv', index = False)

In [12]:
tset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8311264 entries, 0 to 8311263
Data columns (total 2 columns):
idaviso         int64
idpostulante    object
dtypes: int64(1), object(1)
memory usage: 126.8+ MB

In [13]:
tset = tset.drop_duplicates()

In [15]:
tset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6603752 entries, 0 to 8311263
Data columns (total 2 columns):
idaviso         int64
idpostulante    object
dtypes: int64(1), object(1)
memory usage: 151.1+ MB

In [16]:
tset.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/Training_set.csv', index = False)

In [3]:
tset = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/Training_set.csv')

In [4]:
tset1 = pd.DataFrame([])

In [5]:
tset1['idaviso'] = tset['idaviso']

In [6]:
tset = 0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25281 entries, 0 to 25280
Data columns (total 10 columns):
Unnamed: 0              25281 non-null int64
idaviso                 25281 non-null int64
titulo                  25281 non-null object
descripcion             25281 non-null object
nombre_zona             25281 non-null object
tipo_de_trabajo         25281 non-null object
nivel_laboral           24946 non-null object
nombre_area             25281 non-null object
denominacion_empresa    25281 non-null object
online                  25281 non-null float64
dtypes: float64(1), int64(2), object(7)
memory usage: 1.9+ MB

In [17]:
postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/postulantes', usecols = ['idpostulante'])
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438597 entries, 0 to 438596
Data columns (total 1 columns):
idpostulante    438597 non-null object
dtypes: object(1)
memory usage: 3.3+ MB

In [19]:
postulantes = postulantes.drop_duplicates(subset = 'idpostulante')

In [20]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438597 entries, 0 to 438596
Data columns (total 1 columns):
idpostulante    438597 non-null object
dtypes: object(1)
memory usage: 6.7+ MB

In [22]:
tset1_p = pd.DataFrame([])

In [23]:
tset1_p = postulantes.sample(n=6603752, replace = True)

In [24]:
tset1_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6603752 entries, 149 to 82466
Data columns (total 1 columns):
idpostulante    object
dtypes: object(1)
memory usage: 100.8+ MB

In [28]:
tset1_p.head()

       idpostulante
149         xke05Da
157370       Y9lQVr
369221       1MpolO
308018      jk5DDEr
41728        EB23zz

In [31]:
tset1_p = tset1_p.reset_index()
del tset1_p['index']
tset1_p.head()

  idpostulante
0      xke05Da
1       Y9lQVr
2       1MpolO
3      jk5DDEr
4       EB23zz

In [32]:
tset1['idpostulante'] = tset1_p['idpostulante']

In [33]:
tset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603752 entries, 0 to 6603751
Data columns (total 2 columns):
idaviso         int64
idpostulante    object
dtypes: int64(1), object(1)
memory usage: 100.8+ MB

In [34]:
tset1['sepostulo'] = 0

In [44]:
tset1.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/Training_set0.csv', index = False)

In [21]:
t.sample(n=6, replace = True)['idpostulante']

0    NM5M
4    eo2p
4    eo2p
4    eo2p
3    NdJl
1    5awk
Name: idpostulante, dtype: object

In [7]:
def separar_fecha(fecha):
    fecha, hora=fecha.split(" ")
    anio, mes, dia = fecha.split('-')
    hora = hora.split(':')
    return int(mes), int(dia), int(hora[0])

In [8]:
def get_mes(fechapostulacion):
    mes = fechapostulacion.split("-")
    return int(mes[1])

In [ ]:
postulaciones['mes'] = postulaciones['fechapostulacion'].map(get_mes)

In [13]:
aviso

1112146010

In [14]:
postulante

'vVjrMGo'

In [15]:
df['idaviso'] = aviso
df['idpostulante'] = postulante

In [16]:
resultado = pd.DataFrame([])
resultado.append(df)

Empty DataFrame
Columns: [idaviso, idpostulante]
Index: []

In [5]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set0.csv')

In [9]:
postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/postulantes_to_train_1.csv')

ts = pd.merge(ts, avisos, on='idaviso', how='left')

In [11]:
ts.head()

,idaviso,idpostulante,sepostulo,Unnamed: 0,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online
0,1112257047,xke05Da,0,12530.0,0.0,1.0,0.0,7.0,0.0
1,1111920714,Y9lQVr,0,10137.0,0.0,1.0,2.0,22.0,0.0
2,1112346945,1MpolO,0,1356.0,0.0,0.0,2.0,22.0,1.0
3,1112345547,jk5DDEr,0,910.0,0.0,0.0,2.0,22.0,1.0
4,1112237522,EB23zz,0,7276.0,0.0,0.0,2.0,5.0,0.0

In [12]:
ts.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/Training_set0.csv', index = False)

In [13]:
ts = pd.merge(ts, postulantes, on='idpostulante', how='left')

In [16]:
avisos = 0
postulantes = 0

In [18]:
ts.head()

,idaviso,idpostulante,sepostulo,Unnamed: 0,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,1112257047,xke05Da,0,12530.0,0.0,1.0,0.0,7.0,0.0,1.0,28,3,0,9,1990,7,9
1,1111920714,Y9lQVr,0,10137.0,0.0,1.0,2.0,22.0,0.0,1.0,31,2,2,8,1987,12,28
2,1112346945,1MpolO,0,1356.0,0.0,0.0,2.0,22.0,1.0,0.0,26,3,0,9,1992,7,6
3,1112345547,jk5DDEr,0,910.0,0.0,0.0,2.0,22.0,1.0,1.0,24,1,2,5,1994,11,13
4,1112237522,EB23zz,0,7276.0,0.0,0.0,2.0,5.0,0.0,0.0,38,4,1,13,1980,12,23

In [19]:
del ts['Unnamed: 0']

In [20]:
ts.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/Training_set0.csv', index = False)