In [1]:
import datetime as dt
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [2]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set15M.csv')
df100k_or = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts15M.csv')

In [3]:
test= ts[0:15000]
train = ts[15000:]

In [4]:
crossValidation = pd.DataFrame()
crossValidation['sepostulo'] = test['sepostulo']
test = test.drop(['sepostulo'], axis = 1)

In [5]:
trainx = train.drop(['sepostulo'], axis = 1)
trainy = train['sepostulo']

In [6]:
del trainx['idaviso']
del trainx['idpostulante']
del test['idaviso']
del test['idpostulante']
del df100k_or['idaviso']
del df100k_or['idpostulante']

In [7]:
trainx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485000 entries, 15000 to 1499999
Data columns (total 13 columns):
nombre_zona        1485000 non-null float64
tipo_de_trabajo    1485000 non-null float64
nivel_laboral      1485000 non-null float64
nombre_area        1485000 non-null float64
online             1485000 non-null float64
sexo               1485000 non-null float64
edad               1485000 non-null int64
nombre             1485000 non-null int64
estado             1485000 non-null int64
nombre-estado      1485000 non-null int64
mesnacimiento      1485000 non-null int64
dianacimiento      1485000 non-null int64
anionacimiento     1485000 non-null int64
dtypes: float64(6), int64(7)
memory usage: 147.3 MB

In [8]:
l = [0, 1000, 10000, 5000]

for i in l:
    regressor = DecisionTreeRegressor(max_features = 'log2', random_state = i)
    trainedSet = regressor.fit(trainx, trainy)
    predictions = trainedSet.predict(test)
    score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
    print 'for l = ' + str(i) + 'score = ' + str(score)

for l = 0score = 0.359260310254
for l = 1000score = 0.361939050956
for l = 10000score = 0.362679328622
for l = 5000score = 0.361995026433

In [9]:
for i in l:
    regressor = DecisionTreeRegressor(max_features = 'auto', random_state = i)
    trainedSet = regressor.fit(trainx, trainy)
    predictions = trainedSet.predict(test)
    score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
    print 'for l = ' + str(i) + 'score = ' + str(score)

for l = 0score = 0.354864212154
for l = 1000score = 0.357243915857
for l = 10000score = 0.358063537928
for l = 5000score = 0.356798286228

In [11]:
del df100k_or['id']

In [12]:
predictions = trainedSet.predict(df100k_or)

In [13]:
dic_knn = {'sepostulo': predictions}
df = pd.DataFrame.from_dict(dic_knn)
df['id'] = df.index
df['sepostula'] = df['sepostulo']
del df['sepostulo']
df['sepostulo'] = df['sepostula']
del df['sepostula']
df

          id  sepostulo
0          0        1.0
1          1        0.0
2          2        1.0
3          3        0.0
4          4        0.0
5          5        0.0
6          6        0.0
7          7        1.0
8          8        1.0
9          9        1.0
10        10        0.0
11        11        0.0
12        12        0.0
13        13        1.0
14        14        0.0
15        15        0.0
16        16        1.0
17        17        1.0
18        18        0.0
19        19        0.0
20        20        0.0
21        21        1.0
22        22        0.0
23        23        1.0
24        24        0.0
25        25        0.0
26        26        1.0
27        27        0.0
28        28        0.0
29        29        1.0
...      ...        ...
99970  99970        0.0
99971  99971        1.0
99972  99972        0.0
99973  99973        1.0
99974  99974        1.0
99975  99975        1.0
99976  99976        0.0
99977  99977        1.0
99978  99978        0.0
99979  99979        0.0
99980  99980        0.0
99981  99981        1.0
99982  99982        1.0
99983  99983        0.0
99984  99984        1.0
99985  99985        1.0
99986  99986        1.0
99987  99987        1.0
99988  99988        1.0
99989  99989        0.0
99990  99990        1.0
99991  99991        0.0
99992  99992        0.0
99993  99993        0.0
99994  99994        0.0
99995  99995        0.0
99996  99996        1.0
99997  99997        0.0
99998  99998        1.0
99999  99999        1.0

[100000 rows x 2 columns]

In [14]:
df['sepostulo'].value_counts()

1.000000    53097
0.000000    43001
0.500000     1926
0.666667      712
0.750000      301
0.333333      233
0.800000      177
0.833333      107
0.857143       83
0.250000       59
0.600000       54
0.933333       32
0.875000       29
0.900000       24
0.777778       21
0.714286       20
0.400000       18
0.888889       16
0.909091       12
0.200000       11
0.937500        9
0.571429        9
0.916667        8
0.700000        6
0.625000        6
0.818182        5
0.428571        5
0.960000        4
0.928571        4
0.923077        3
0.285714        3
0.166667        2
0.944444        2
0.142857        1
Name: sepostulo, dtype: int64

In [15]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/DecisionTreeRegressor_0_ts2.csv', index = False)

In [22]:
df['sepostulo'] = df['sepostulo'].apply(lambda x: x if x == 1 else 0)

In [23]:
df['sepostulo'].value_counts()

1.0    55152
0.0    44848
Name: sepostulo, dtype: int64

In [24]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/DecisionTreeRegressor_0.csv', index = False)