In [1]:
import datetime as dt
import pandas as pd
import numpy as np
from sklearn import neighbors
from sklearn.metrics import mean_squared_error

In [33]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set15M.csv')
df100k_or = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts15M.csv')

In [34]:
test= ts[0:15000]
train = ts[15000:]

In [35]:
crossValidation = pd.DataFrame()
crossValidation['sepostulo'] = test['sepostulo']
test = test.drop(['sepostulo'], axis = 1)

In [36]:
trainx = train.drop(['sepostulo'], axis = 1)
trainy = train['sepostulo']

In [37]:
del trainx['idaviso']
del trainx['idpostulante']
del trainx['online']
del trainx['mesnacimiento']
del test['idaviso']
del test['idpostulante']
del test['online']
del test['mesnacimiento']
del df100k_or['idaviso']
del df100k_or['idpostulante']
del df100k_or['online']
del df100k_or['mesnacimiento']

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 12 columns):
nombre_zona        15000 non-null float64
tipo_de_trabajo    15000 non-null float64
nivel_laboral      15000 non-null float64
nombre_area        15000 non-null float64
sexo               15000 non-null float64
edad               15000 non-null int64
nombre             15000 non-null int64
estado             15000 non-null int64
nombre-estado      15000 non-null int64
mesnacimiento      15000 non-null int64
dianacimiento      15000 non-null int64
anionacimiento     15000 non-null int64
dtypes: float64(5), int64(7)
memory usage: 1.4 MB

In [31]:
klist = [400, 600, 750, 1000]
algorithms= ['kd_tree']
predictionList=[]
scoreList=[]
for k in klist:
    for a in algorithms:
        knn = neighbors.KNeighborsRegressor(k, weights='uniform', algorithm=a, p = 3)
        predictions = knn.fit(trainx, trainy)
        predictions = predictions.predict(test)
        score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
        print('KNN-K: '+str(k)+'-algorithm: '+ a + ' score: ' + str(score))
#        scoreList.append(score)

KNN-K: 400-algorithm: kd_tree score: 0.239172655417
KNN-K: 600-algorithm: kd_tree score: 0.239900567778
KNN-K: 750-algorithm: kd_tree score: 0.240364449304
KNN-K: 1000-algorithm: kd_tree score: 0.2410914512

In [7]:
klist = [150, 200, 300]
algorithms= ['kd_tree']
predictionList=[]
scoreList=[]
for k in klist:
    for a in algorithms:
        knn = neighbors.KNeighborsRegressor(k, weights='uniform', algorithm=a, p = 3)
        predictions = knn.fit(trainx, trainy)
        predictions = predictions.predict(test)
        score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
        print('KNN-K: '+str(k)+'-algorithm: '+ a + ' score: ' + str(score))
#        scoreList.append(score)

KNN-K: 150-algorithm: kd_tree score: 0.236922207407
KNN-K: 200-algorithm: kd_tree score: 0.23768119
KNN-K: 300-algorithm: kd_tree score: 0.23857388

In [8]:
#p=3
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

KNN-K: 1-algorithm: ball_tree 0.372333333333
KNN-K: 1-algorithm: kd_tree 0.370133333333
KNN-K: 10-algorithm: ball_tree 0.236729333333
KNN-K: 10-algorithm: kd_tree 0.236904
KNN-K: 25-algorithm: ball_tree 0.231539093333
KNN-K: 25-algorithm: kd_tree 0.23174336
KNN-K: 50-algorithm: ball_tree 0.230887253333
KNN-K: 50-algorithm: kd_tree 0.230843066667
KNN-K: 100-algorithm: ball_tree 0.232324733333
KNN-K: 100-algorithm: kd_tree 0.232228693333

In [17]:
#p=4
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

KNN-K: 1-algorithm: ball_tree 0.482466666667
KNN-K: 1-algorithm: kd_tree 0.482466666667
KNN-K: 10-algorithm: ball_tree 0.266064
KNN-K: 10-algorithm: kd_tree 0.266064
KNN-K: 25-algorithm: ball_tree 0.255565013333
KNN-K: 25-algorithm: kd_tree 0.255567466667
KNN-K: 50-algorithm: ball_tree 0.25116224
KNN-K: 50-algorithm: kd_tree 0.251163813333
KNN-K: 100-algorithm: ball_tree 0.248350046667
KNN-K: 100-algorithm: kd_tree 0.248350046667

In [13]:
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

 KNN-K: 1-algorithm: ball_tree 0.481333333333
KNN-K: 1-algorithm: kd_tree 0.481333333333
KNN-K: 10-algorithm: ball_tree 0.265929333333
KNN-K: 10-algorithm: kd_tree 0.265929333333
KNN-K: 25-algorithm: ball_tree 0.25515584
KNN-K: 25-algorithm: kd_tree 0.25515584
KNN-K: 50-algorithm: ball_tree 0.251198053333
KNN-K: 50-algorithm: kd_tree 0.251199626667
KNN-K: 100-algorithm: ball_tree 0.248419526667
KNN-K: 100-algorithm: kd_tree 0.248419526667
KNN-K: 250-algorithm: ball_tree 0.247104219733
KNN-K: 250-algorithm: kd_tree 0.247104449067
KNN-K: 500-algorithm: ball_tree 0.246364124267
KNN-K: 500-algorithm: kd_tree 0.246364124267

In [38]:
del df100k_or['id']

In [40]:
klist = [450]
algorithms= ['kd_tree']
predictionList=[]
scoreList=[]
for k in klist:
    for a in algorithms:
        knn = neighbors.KNeighborsRegressor(k, weights='uniform', algorithm=a, p=3)
        predictions = knn.fit(trainx, trainy)
        df = predictions.predict(df100k_or)

In [41]:
dic_knn = {'sepostulo': df}
df = pd.DataFrame.from_dict(dic_knn)

In [42]:
df['id'] = df.index

In [43]:
df['sepostula'] = df['sepostulo']
del df['sepostulo']

In [44]:
df['sepostulo'] = df['sepostula']
df

          id  sepostula  sepostulo
0          0   0.397778   0.397778
1          1   0.564444   0.564444
2          2   0.551111   0.551111
3          3   0.535556   0.535556
4          4   0.597778   0.597778
5          5   0.648889   0.648889
6          6   0.691111   0.691111
7          7   0.371111   0.371111
8          8   0.704444   0.704444
9          9   0.297778   0.297778
10        10   0.548889   0.548889
11        11   0.333333   0.333333
12        12   0.557778   0.557778
13        13   0.406667   0.406667
14        14   0.531111   0.531111
15        15   0.566667   0.566667
16        16   0.395556   0.395556
17        17   0.582222   0.582222
18        18   0.500000   0.500000
19        19   0.542222   0.542222
20        20   0.493333   0.493333
21        21   0.520000   0.520000
22        22   0.437778   0.437778
23        23   0.517778   0.517778
24        24   0.448889   0.448889
25        25   0.393333   0.393333
26        26   0.544444   0.544444
27        27   0.255556   0.255556
28        28   0.484444   0.484444
29        29   0.488889   0.488889
...      ...        ...        ...
99970  99970   0.571111   0.571111
99971  99971   0.413333   0.413333
99972  99972   0.526667   0.526667
99973  99973   0.528889   0.528889
99974  99974   0.442222   0.442222
99975  99975   0.504444   0.504444
99976  99976   0.564444   0.564444
99977  99977   0.680000   0.680000
99978  99978   0.417778   0.417778
99979  99979   0.564444   0.564444
99980  99980   0.526667   0.526667
99981  99981   0.673333   0.673333
99982  99982   0.495556   0.495556
99983  99983   0.571111   0.571111
99984  99984   0.502222   0.502222
99985  99985   0.591111   0.591111
99986  99986   0.535556   0.535556
99987  99987   0.522222   0.522222
99988  99988   0.715556   0.715556
99989  99989   0.397778   0.397778
99990  99990   0.644444   0.644444
99991  99991   0.617778   0.617778
99992  99992   0.502222   0.502222
99993  99993   0.580000   0.580000
99994  99994   0.577778   0.577778
99995  99995   0.515556   0.515556
99996  99996   0.551111   0.551111
99997  99997   0.517778   0.517778
99998  99998   0.608889   0.608889
99999  99999   0.360000   0.360000

[100000 rows x 3 columns]

In [45]:
del df['sepostula']

In [46]:
df.head()

   id  sepostulo
0   0   0.397778
1   1   0.564444
2   2   0.551111
3   3   0.535556
4   4   0.597778

In [50]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_knn450_uniform_p3_right_ts2.csv', index = False)

In [60]:
df = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_knn450_uniform_p3_right_ts2.csv')

In [61]:
df100k = df

In [62]:
df100k['sepostulo'].value_counts()

0.540000    1011
0.562222    1010
0.555556     997
0.571111     985
0.548889     979
0.553333     979
0.524444     977
0.586667     974
0.546667     957
0.560000     950
0.557778     941
0.566667     939
0.573333     937
0.577778     933
0.531111     932
0.588889     928
0.542222     927
0.580000     926
0.568889     926
0.544444     926
0.597778     925
0.551111     923
0.522222     921
0.537778     919
0.564444     916
0.582222     912
0.535556     905
0.513333     905
0.593333     904
0.575556     901
            ...
0.886667       2
0.240000       1
0.877778       1
0.242222       1
0.244444       1
0.904444       1
0.213333       1
0.902222       1
0.848889       1
0.871111       1
0.940000       1
0.880000       1
0.235556       1
0.844444       1
0.937778       1
0.231111       1
0.915556       1
0.964444       1
0.224444       1
0.928889       1
0.228889       1
0.922222       1
0.931111       1
0.875556       1
0.222222       1
0.888889       1
0.253333       1
0.233333       1
0.935556       1
0.828889       1
Name: sepostulo, Length: 347, dtype: int64

In [63]:
df = df100k

In [64]:
values = df['sepostulo'].value_counts()

In [65]:
values.keys

<bound method Series.keys of 0.540000    1011
0.562222    1010
0.555556     997
0.571111     985
0.548889     979
0.553333     979
0.524444     977
0.586667     974
0.546667     957
0.560000     950
0.557778     941
0.566667     939
0.573333     937
0.577778     933
0.531111     932
0.588889     928
0.542222     927
0.580000     926
0.568889     926
0.544444     926
0.597778     925
0.551111     923
0.522222     921
0.537778     919
0.564444     916
0.582222     912
0.535556     905
0.513333     905
0.593333     904
0.575556     901
            ...
0.886667       2
0.240000       1
0.877778       1
0.242222       1
0.244444       1
0.904444       1
0.213333       1
0.902222       1
0.848889       1
0.871111       1
0.940000       1
0.880000       1
0.235556       1
0.844444       1
0.937778       1
0.231111       1
0.915556       1
0.964444       1
0.224444       1
0.928889       1
0.228889       1
0.922222       1
0.931111       1
0.875556       1
0.222222       1
0.888889       1
0.253333       1
0.233333       1
0.935556       1
0.828889       1
Name: sepostulo, Length: 347, dtype: int64>

In [66]:
values.values

array([1011, 1010,  997,  985,  979,  979,  977,  974,  957,  950,  941,
        939,  937,  933,  932,  928,  927,  926,  926,  926,  925,  923,
        921,  919,  916,  912,  905,  905,  904,  901,  897,  895,  888,
        884,  877,  866,  865,  863,  857,  855,  851,  851,  847,  846,
        842,  834,  820,  816,  815,  814,  810,  784,  778,  762,  761,
        743,  739,  737,  734,  730,  725,  723,  722,  704,  692,  688,
        684,  672,  666,  664,  658,  658,  654,  633,  631,  616,  615,
        615,  612,  608,  604,  586,  581,  559,  557,  554,  554,  544,
        542,  534,  529,  518,  509,  508,  492,  482,  480,  467,  464,
        464,  456,  455,  453,  449,  443,  426,  416,  404,  397,  395,
        390,  374,  372,  354,  351,  349,  347,  346,  345,  341,  323,
        314,  312,  308,  303,  295,  293,  291,  287,  273,  271,  269,
        253,  252,  245,  235,  234,  230,  229,  227,  222,  220,  219,
        209,  204,  203,  202,  201,  198,  194,  193,  188,  182,  176,
        174,  173,  168,  167,  163,  149,  148,  147,  145,  144,  141,
        141,  136,  132,  131,  130,  125,  123,  120,  119,  117,  114,
        111,  111,  110,  105,  104,  100,  100,   92,   91,   89,   87,
         82,   82,   81,   78,   77,   77,   77,   72,   67,   67,   66,
         59,   56,   55,   54,   54,   51,   50,   49,   48,   48,   46,
         45,   44,   44,   43,   43,   42,   42,   41,   38,   38,   37,
         36,   34,   33,   32,   30,   29,   29,   29,   29,   28,   28,
         27,   27,   25,   24,   24,   22,   22,   22,   22,   21,   21,
         20,   19,   16,   16,   16,   16,   16,   15,   15,   15,   13,
         13,   13,   13,   12,   12,   11,   11,   10,   10,   10,   10,
          9,    9,    9,    8,    7,    7,    7,    7,    6,    6,    5,
          5,    5,    5,    5,    5,    4,    4,    4,    4,    4,    4,
          3,    3,    3,    3,    3,    3,    3,    3,    3,    3,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1])

In [67]:
df['sepostulo'].apply(lambda x: 1 if x>0.55 else 0).value_counts()

1    50475
0    49525
Name: sepostulo, dtype: int64

In [59]:
df['sepostulo'] = df['sepostulo'].apply(lambda x: 1 if x>0.55 else 0)

In [36]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_knn1000_uniform_p3_right_balanced55_ts2.csv', index = False)

In [49]:
df = df100k

In [68]:
def balance(x):
    if x >0.70:
        return 1
    if x<0.35:
        return 0
    else:
        return x

In [69]:
df['sepostulo'].apply(lambda x: balance(x)).value_counts()

1.000000    5211
0.000000    1925
0.540000    1011
0.562222    1010
0.555556     997
0.571111     985
0.548889     979
0.553333     979
0.524444     977
0.586667     974
0.546667     957
0.560000     950
0.557778     941
0.566667     939
0.573333     937
0.577778     933
0.531111     932
0.588889     928
0.542222     927
0.544444     926
0.568889     926
0.580000     926
0.597778     925
0.551111     923
0.522222     921
0.537778     919
0.564444     916
0.582222     912
0.535556     905
0.513333     905
            ...
0.693333     287
0.688889     273
0.691111     271
0.404444     269
0.397778     252
0.393333     245
0.697778     235
0.395556     234
0.402222     229
0.388889     222
0.695556     220
0.386667     219
0.384444     209
0.380000     204
0.700000     203
0.391111     202
0.382222     194
0.373333     182
0.368889     176
0.377778     173
0.366667     168
0.375556     163
0.371111     148
0.362222     144
0.364444     141
0.360000     131
0.355556     130
0.357778     120
0.353333     114
0.351111     110
Name: sepostulo, Length: 160, dtype: int64

In [70]:
df['sepostulo'] = df['sepostulo'].apply(lambda x: balance(x))

In [71]:
df.head()

   id  sepostulo
0   0   0.397778
1   1   0.564444
2   2   0.551111
3   3   0.535556
4   4   0.597778

In [72]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_knn450_uniform_p3_right_balanced7035_ts2.csv', index = False)