In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import classification_report

In [2]:
datos = pd.read_csv('ArchivosDatos/Training_set_4.csv')

In [3]:
datos = datos.sample(n=5000)

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 5561963 to 6518284
Data columns (total 14 columns):
Unnamed: 0         5000 non-null int64
ida                5000 non-null int64
idp                4675 non-null float64
nombre_zona        4675 non-null float64
tipo_de_trabajo    4675 non-null float64
nivel_laboral      4675 non-null float64
nombre_area        4675 non-null float64
online             4675 non-null float64
sexo               4887 non-null float64
edad               4887 non-null float64
nombre             4887 non-null float64
estado             4887 non-null float64
nombre-estado      4887 non-null float64
sepostulo          5000 non-null int64
dtypes: float64(11), int64(3)
memory usage: 585.9 KB

In [5]:
datos.dropna(inplace=True)

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4574 entries, 5561963 to 6518284
Data columns (total 14 columns):
Unnamed: 0         4574 non-null int64
ida                4574 non-null int64
idp                4574 non-null float64
nombre_zona        4574 non-null float64
tipo_de_trabajo    4574 non-null float64
nivel_laboral      4574 non-null float64
nombre_area        4574 non-null float64
online             4574 non-null float64
sexo               4574 non-null float64
edad               4574 non-null float64
nombre             4574 non-null float64
estado             4574 non-null float64
nombre-estado      4574 non-null float64
sepostulo          4574 non-null int64
dtypes: float64(11), int64(3)
memory usage: 536.0 KB

In [7]:
x = np.array(datos.ix[:,0:12])
y = np.array(datos['sepostulo'])

In [10]:
k = 1
accuracies = []
    #Inicializacion del modelo
model = KNeighborsClassifier(n_neighbors=k)
model.fit(x, y)

score = model.score(x, y)
print("k=%d, accuracy=%.2f%%" % (k, score * 100))
accuracies.append(score)

k=1, accuracy=100.00%

In [12]:
kVals = range(1, 80, 2)
accuracies = []

#En este loop vamos a ver la precision del algoritmo en funcion de K

for k in kVals:
    #Inicializacion del modelo
    model = KNeighborsClassifier(n_neighbors=k)
    model.fit(x, y)

    #A diferencia de otros algoritmos, en KNN no es necesario usar un set de validacion sino que se pueden usar los mismos datos
    score = model.score(x, y)
    print("k=%d, accuracy=%.2f%%" % (k, score * 100))
    accuracies.append(score)

k=1, accuracy=100.00%
k=3, accuracy=100.00%
k=5, accuracy=100.00%
k=7, accuracy=100.00%
k=9, accuracy=100.00%
k=11, accuracy=100.00%
k=13, accuracy=100.00%
k=15, accuracy=100.00%
k=17, accuracy=100.00%
k=19, accuracy=100.00%
k=21, accuracy=100.00%
k=23, accuracy=100.00%
k=25, accuracy=100.00%
k=27, accuracy=100.00%
k=29, accuracy=100.00%
k=31, accuracy=100.00%
k=33, accuracy=100.00%
k=35, accuracy=100.00%
k=37, accuracy=100.00%
k=39, accuracy=100.00%
k=41, accuracy=100.00%
k=43, accuracy=100.00%
k=45, accuracy=100.00%
k=47, accuracy=100.00%
k=49, accuracy=100.00%
k=51, accuracy=100.00%
k=53, accuracy=100.00%
k=55, accuracy=100.00%
k=57, accuracy=100.00%
k=59, accuracy=100.00%
k=61, accuracy=100.00%
k=63, accuracy=100.00%
k=65, accuracy=100.00%
k=67, accuracy=100.00%
k=69, accuracy=100.00%
k=71, accuracy=100.00%
k=73, accuracy=100.00%
k=75, accuracy=100.00%
k=77, accuracy=100.00%
k=79, accuracy=100.00%

In [13]:
test = pd.read_csv('ArchivosDatos/test_final_100k.csv')

In [14]:
test.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [15]:
datos.loc[:,['sepostulo','idp']].groupby(['sepostulo']).size()

sepostulo
0    2011
1    2563
dtype: int64

In [16]:
data = pd.read_csv('ArchivosDatos/Training_set_4.csv')

In [17]:
set_data = pd.read_csv('ArchivosDatos/postulantes_y_avisos.csv')

In [18]:
set_data.head()

   Unnamed: 0  ida     idaviso idpostulante    idp
0           0    0  1112257047      xke05Da  12530
1           1    1  1111920714       Y9lQVr  10137
2           2    2  1112346945       1MpolO   1356
3           3    3  1112345547      jk5DDEr    910
4           4    4  1112237522       EB23zz   7276

In [21]:
set_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14915016 entries, 0 to 14915015
Data columns (total 5 columns):
Unnamed: 0      int64
ida             int64
idaviso         int64
idpostulante    object
idp             float64
dtypes: float64(1), int64(3), object(1)
memory usage: 682.8+ MB