In [1]:
import datetime as dt
import pandas as pd
import numpy as np

In [2]:
detalle = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/joins/avisos_detalle.csv')
online = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/joins/avisos_online.csv')

Limpiamos el set de tados detalle

In [3]:
detalle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45969 entries, 0 to 45968
Data columns (total 12 columns):
Unnamed: 0              45969 non-null int64
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
ciudad                  225 non-null object
mapacalle               3444 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45634 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45955 non-null object
dtypes: int64(3), object(9)
memory usage: 4.2+ MB

In [4]:
del detalle['Unnamed: 0']
del detalle['ciudad']
del detalle['mapacalle']

In [5]:
detalle = detalle.dropna(axis = 0, subset = ['denominacion_empresa'], how = 'any')

In [5]:
del detalle['idpais']

In [6]:
detalle = detalle.drop_duplicates(subset = 'idaviso')

In [7]:
detalle['idaviso'].value_counts()

1112414205    1
1111770658    1
1112505893    1
1112425196    1
1112346155    1
1112356396    1
1112417838    1
1112266288    1
1112274484    1
1112055353    1
1112260157    1
1111404095    1
1112299072    1
1112362563    1
1112203053    1
1112282696    1
1112421964    1
1111476991    1
1111891514    1
1112458834    1
1112460883    1
1112407637    1
1112270422    1
1112362531    1
1112430112    1
1112421868    1
1112452639    1
1111674355    1
1112471028    1
1112401398    1
             ..
1112261613    1
1112136686    1
1112396783    1
1112220657    1
1112409077    1
1112413111    1
1112224691    1
1112357810    1
1112289556    1
1112243066    1
1112300414    1
1112378244    1
1112376197    1
1112511367    1
1112482705    1
1112423314    1
1112470155    1
1112474517    1
1112374170    1
1112220593    1
1112425373    1
1112257443    1
1112472103    1
1112402856    1
1112400809    1
1112341418    1
1112273835    1
1112202158    1
1112325041    1
1112342528    1
Name: idaviso, Length: 25288, dtype: int64

In [8]:
detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 45968
Data columns (total 8 columns):
idaviso                 25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null object
tipo_de_trabajo         25288 non-null object
nivel_laboral           24953 non-null object
nombre_area             25288 non-null object
denominacion_empresa    25281 non-null object
dtypes: int64(1), object(7)
memory usage: 1.7+ MB

In [9]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9886 entries, 0 to 9885
Data columns (total 2 columns):
Unnamed: 0    9886 non-null int64
idaviso       9886 non-null int64
dtypes: int64(2)
memory usage: 154.5 KB

In [10]:
del online['Unnamed: 0']
online['online'] = 1

In [11]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9886 entries, 0 to 9885
Data columns (total 2 columns):
idaviso    9886 non-null int64
online     9886 non-null int64
dtypes: int64(2)
memory usage: 154.5 KB

In [12]:
avisos = pd.merge(detalle, online, on='idaviso', how='left')

In [13]:
avisos['online'] = avisos['online']

In [14]:
avisos = avisos.drop_duplicates(subset = 'idaviso')

In [15]:
avisos.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/avisos2')

In [16]:
avisos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 25743
Data columns (total 9 columns):
idaviso                 25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null object
tipo_de_trabajo         25288 non-null object
nivel_laboral           24953 non-null object
nombre_area             25288 non-null object
denominacion_empresa    25281 non-null object
online                  9151 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.9+ MB

In [17]:
avisos['idaviso'].value_counts()

1112414205    1
1111770658    1
1112505893    1
1112425196    1
1112346155    1
1112356396    1
1112417838    1
1112266288    1
1112274484    1
1112055353    1
1112260157    1
1111404095    1
1112299072    1
1112362563    1
1112203053    1
1112282696    1
1112421964    1
1111476991    1
1111891514    1
1112458834    1
1112460883    1
1112407637    1
1112270422    1
1112362531    1
1112430112    1
1112421868    1
1112452639    1
1111674355    1
1112471028    1
1112401398    1
             ..
1112261613    1
1112136686    1
1112396783    1
1112220657    1
1112409077    1
1112413111    1
1112224691    1
1112357810    1
1112289556    1
1112243066    1
1112300414    1
1112378244    1
1112376197    1
1112511367    1
1112482705    1
1112423314    1
1112470155    1
1112474517    1
1112374170    1
1112220593    1
1112425373    1
1112257443    1
1112472103    1
1112402856    1
1112400809    1
1112341418    1
1112273835    1
1112202158    1
1112325041    1
1112342528    1
Name: idaviso, Length: 25288, dtype: int64