In [4]:
import datetime as dt
import pandas as pd
import numpy as np

In [5]:
#avisos = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/avisos')
#postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Archivos_a_usar/postulantes')
postulaciones = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/joins/postulaciones.csv')

In [6]:
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8311264 entries, 0 to 8311263
Data columns (total 6 columns):
Unnamed: 0      int64
idaviso         int64
idpostulante    object
mes             int64
dia             int64
hora            int64
dtypes: int64(5), object(1)
memory usage: 380.5+ MB

In [11]:
del postulaciones['Unnamed: 0']

In [12]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [15]:
def separar_fecha(fecha):
    fecha, hora=fecha.split(" ")
    anio, mes, dia = fecha.split('-')
    hora = hora.split(':')
    return int(mes), int(dia), int(hora[0])

In [20]:
def get_mes(fechapostulacion):
    mes = fechapostulacion.split("-")
    return int(mes[1])

In [ ]:
postulaciones['mes'] = postulaciones['fechapostulacion'].map(get_mes)

In [13]:
aviso

1112146010

In [14]:
postulante

'vVjrMGo'

In [15]:
df['idaviso'] = aviso
df['idpostulante'] = postulante

In [16]:
resultado = pd.DataFrame([])
resultado.append(df)

Empty DataFrame
Columns: [idaviso, idpostulante]
Index: []