In [1]:
import numpy as np
import pandas as pd

In [2]:
datos = pd.read_csv('ArchivosDatos/Training_set.csv')

In [6]:
postulantes = pd.read_csv('ArchivosDatos/postulantes_to_train_2.csv')

In [8]:
avisos = pd.read_csv('ArchivosDatos/avisos_ts2.csv')

In [9]:
postulantes.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,mesnacimiento,dianacimiento,anionacimiento
0,6MM,0.0,34,0,2,14,1,1,1984
1,ZX1,0.5,56,3,0,16,2,6,1962
2,YZP,0.0,57,5,1,16,5,1,1961
3,ebE,0.0,66,4,2,14,7,7,1952
4,N1x,0.5,22,1,2,14,3,7,1996

In [10]:
avisos.head()

,Unnamed: 0,idaviso,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online
0,0,1111556097,0,0,2,32,0
1,1,1111949392,0,0,2,47,1
2,2,1112145935,0,0,2,31,0
3,3,1112146010,0,0,2,4,1
4,4,1112211475,0,0,2,1,0

In [12]:
##unimos los datos al set ppal
datos = pd.merge(datos,postulantes,left_on="idpostulante",right_on="idpostulante",how="left")

In [13]:
datos = pd.merge(datos,avisos,left_on="idaviso",right_on="idaviso",how="left")

In [18]:
datos.loc[:,['nombre_zona']].isnull().groupby('nombre_zona').size()

nombre_zona
False    13930871
True       984145
dtype: int64

In [15]:
del datos['Unnamed: 0_x']
del datos['Unnamed: 0_y']
del datos['online']
del datos['mesnacimiento']
del datos['dianacimiento']
del datos['anionacimiento']

In [19]:
datos.dropna(inplace=True)

In [22]:
datos.to_csv('ArchivosDatos/set_nuevo.csv',index=False)