In [1]:
import hashlib
print(hashlib.algorithms_available)

set(['SHA1', 'SHA224', 'SHA', 'SHA384', 'ecdsa-with-SHA1', 'SHA256', 'SHA512', 'md4', 'md5', 'sha1', 'dsaWithSHA', 'DSA-SHA', 'sha224', 'dsaEncryption', 'DSA', 'ripemd160', 'sha', 'MD5', 'MD4', 'sha384', 'sha256', 'sha512', 'RIPEMD160', 'whirlpool'])

In [1]:
import pandas as pd
import pyspark as py
import numpy as np

In [2]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set.csv')

In [3]:
ts.tail()

          Unnamed: 0     idaviso idpostulante  sepostulo
14915011     8311259  1112334789      5mPJNDG          1
14915012     8311260  1112334784      5mPJNDG          1
14915013     8311261  1112334806      5mPJNDG          1
14915014     8311262  1112303592      zvabRzD          1
14915015     8311263  1110591925      zvabRzD          1

In [4]:
ts = ts.sample(n=1500000)

In [5]:
ts.tail()

          Unnamed: 0     idaviso idpostulante  sepostulo
8622639      2018887  1112351629      MVedJAe          1
12818872     6215120  1112228888       e9OxGE          1
724295        724295  1112257047      xkvaNvx          0
3673030      3673030  1112429440      dYzYAd2          0
10418873     3815121  1112437647      9690Vv8          1

In [6]:
del ts['Unnamed: 0']

In [7]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500000 entries, 7702601 to 10418873
Data columns (total 3 columns):
idaviso         1500000 non-null int64
idpostulante    1500000 non-null object
sepostulo       1500000 non-null int64
dtypes: int64(2), object(1)
memory usage: 45.8+ MB

In [8]:
ts.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set15M.csv', index = False)

In [9]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set15M.csv')

In [10]:
avisos = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/avisos_ts2.csv')
postulantes = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/postulantes_to_train_2.csv')

In [11]:
avisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25288 entries, 0 to 25287
Data columns (total 7 columns):
Unnamed: 0         25288 non-null int64
idaviso            25288 non-null int64
nombre_zona        25288 non-null int64
tipo_de_trabajo    25288 non-null int64
nivel_laboral      25288 non-null int64
nombre_area        25288 non-null int64
online             25288 non-null float64
dtypes: float64(1), int64(6)
memory usage: 1.4 MB

In [12]:
ts = pd.merge(ts, avisos, on = 'idaviso', how='left')

In [13]:
ts = pd.merge(ts, postulantes, on = 'idpostulante', how = 'left')

In [14]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500000 entries, 0 to 1499999
Data columns (total 17 columns):
idaviso            1500000 non-null int64
idpostulante       1500000 non-null object
sepostulo          1500000 non-null int64
Unnamed: 0         1400945 non-null float64
nombre_zona        1400945 non-null float64
tipo_de_trabajo    1400945 non-null float64
nivel_laboral      1400945 non-null float64
nombre_area        1400945 non-null float64
online             1400945 non-null float64
sexo               1500000 non-null float64
edad               1500000 non-null int64
nombre             1500000 non-null int64
estado             1500000 non-null int64
nombre-estado      1500000 non-null int64
mesnacimiento      1500000 non-null int64
dianacimiento      1500000 non-null int64
anionacimiento     1500000 non-null int64
dtypes: float64(7), int64(9), object(1)
memory usage: 206.0+ MB

In [15]:
del ts['Unnamed: 0']

In [16]:
ts.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set15M.csv', index = False)

In [17]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set15M.csv')

In [18]:
df100k = pd.read_csv('/home/luupesado/7506_Datos/2018/test_final_100k.csv')

In [19]:
df100k = pd.merge(df100k, avisos, on = 'idaviso', how='left')
df100k = pd.merge(df100k, postulantes, on = 'idpostulante', how = 'left')

In [20]:
del df100k['Unnamed: 0']

In [21]:
df100k.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts15M.csv', index = False)

In [22]:
df100k = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts15M.csv')

In [23]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 16 columns):
idaviso            1500000 non-null int64
idpostulante       1500000 non-null object
sepostulo          1500000 non-null int64
nombre_zona        1400945 non-null float64
tipo_de_trabajo    1400945 non-null float64
nivel_laboral      1400945 non-null float64
nombre_area        1400945 non-null float64
online             1400945 non-null float64
sexo               1500000 non-null float64
edad               1500000 non-null int64
nombre             1500000 non-null int64
estado             1500000 non-null int64
nombre-estado      1500000 non-null int64
mesnacimiento      1500000 non-null int64
dianacimiento      1500000 non-null int64
anionacimiento     1500000 non-null int64
dtypes: float64(6), int64(9), object(1)
memory usage: 183.1+ MB

In [24]:
df100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
id                 100000 non-null int64
idaviso            100000 non-null int64
idpostulante       100000 non-null object
nombre_zona        100000 non-null int64
tipo_de_trabajo    100000 non-null int64
nivel_laboral      100000 non-null int64
nombre_area        100000 non-null int64
online             100000 non-null float64
sexo               100000 non-null float64
edad               100000 non-null int64
nombre             100000 non-null int64
estado             100000 non-null int64
nombre-estado      100000 non-null int64
mesnacimiento      100000 non-null int64
dianacimiento      100000 non-null int64
anionacimiento     100000 non-null int64
dtypes: float64(2), int64(13), object(1)
memory usage: 12.2+ MB

In [25]:
df100k.tail()

,id,idaviso,idpostulante,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online,sexo,edad,nombre,estado,nombre-estado,mesnacimiento,dianacimiento,anionacimiento
99995,99995,1112515111,5RVZBp,0,0,1,51,0.0,0.0,40,3,2,11,8,30,1978
99996,99996,1112515111,ZvQXN1,0,0,1,51,0.0,1.0,39,3,2,11,12,26,1979
99997,99997,1112515116,NmpwAB,0,4,0,81,0.0,1.0,41,3,0,9,7,22,1977
99998,99998,1112515116,aZJMqJ,0,4,0,81,0.0,1.0,32,3,1,10,8,12,1986
99999,99999,1112515116,8R48Ex,0,4,0,81,0.0,0.0,45,1,2,5,10,12,1973

In [26]:
df100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
id                 100000 non-null int64
idaviso            100000 non-null int64
idpostulante       100000 non-null object
nombre_zona        100000 non-null int64
tipo_de_trabajo    100000 non-null int64
nivel_laboral      100000 non-null int64
nombre_area        100000 non-null int64
online             100000 non-null float64
sexo               100000 non-null float64
edad               100000 non-null int64
nombre             100000 non-null int64
estado             100000 non-null int64
nombre-estado      100000 non-null int64
mesnacimiento      100000 non-null int64
dianacimiento      100000 non-null int64
anionacimiento     100000 non-null int64
dtypes: float64(2), int64(13), object(1)
memory usage: 12.2+ MB

In [26]:
df100k['nombre_zona'] = df100k['nombre_zona'].fillna(ts['nombre_zona'].mean())
df100k['tipo_de_trabajo'] = df100k['tipo_de_trabajo'].fillna(ts['tipo_de_trabajo'].mean())
df100k['nivel_laboral'] = df100k['nivel_laboral'].fillna(ts['nivel_laboral'].mean())
df100k['nombre_area'] = df100k['nombre_area'].fillna(ts['nombre_area'].mean())
df100k['online'] = df100k['online'].fillna(ts['online'].mean())
df100k['sexo'] = df100k['sexo'].fillna(ts['sexo'].mean())
df100k['edad'] = df100k['edad'].fillna(ts['edad'].mean())
df100k['nombre'] = df100k['nombre'].fillna(ts['nombre'].mean())
df100k['estado'] = df100k['estado'].fillna(ts['estado'].mean())
df100k['nombre-estado'] = df100k['nombre-estado'].fillna(ts['nombre-estado'].mean())
df100k['anionacimiento'] = df100k['anionacimiento'].fillna(ts['anionacimiento'].mean())
df100k['mesnacimiento'] = df100k['mesnacimiento'].fillna(ts['mesnacimiento'].mean())
df100k['dianacimiento'] = df100k['dianacimiento'].fillna(ts['dianacimiento'].mean())

In [27]:
df100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
id                 100000 non-null int64
idaviso            100000 non-null int64
idpostulante       100000 non-null object
nombre_zona        100000 non-null int64
tipo_de_trabajo    100000 non-null int64
nivel_laboral      100000 non-null int64
nombre_area        100000 non-null int64
online             100000 non-null float64
sexo               100000 non-null float64
edad               100000 non-null int64
nombre             100000 non-null int64
estado             100000 non-null int64
nombre-estado      100000 non-null int64
mesnacimiento      100000 non-null int64
dianacimiento      100000 non-null int64
anionacimiento     100000 non-null int64
dtypes: float64(2), int64(13), object(1)
memory usage: 12.2+ MB

In [28]:
df100k.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts15M.csv', index = False)

In [29]:
ts['nombre_zona'] = ts['nombre_zona'].fillna(ts['nombre_zona'].mean())
ts['tipo_de_trabajo'] = ts['tipo_de_trabajo'].fillna(ts['tipo_de_trabajo'].mean())
ts['nivel_laboral'] = ts['nivel_laboral'].fillna(ts['nivel_laboral'].mean())
ts['nombre_area'] = ts['nombre_area'].fillna(ts['nombre_area'].mean())
ts['online'] = ts['online'].fillna(ts['online'].mean())
ts['sexo'] = ts['sexo'].fillna(ts['sexo'].mean())
ts['edad'] = ts['edad'].fillna(ts['edad'].mean())
ts['nombre'] = ts['nombre'].fillna(ts['nombre'].mean())
ts['estado'] = ts['estado'].fillna(ts['estado'].mean())
ts['nombre-estado'] = ts['nombre-estado'].fillna(ts['nombre-estado'].mean())
ts['anionacimiento'] = ts['anionacimiento'].fillna(ts['anionacimiento'].mean())
ts['mesnacimiento'] = ts['mesnacimiento'].fillna(ts['mesnacimiento'].mean())
ts['dianacimiento'] = ts['dianacimiento'].fillna(ts['dianacimiento'].mean())
del ts['Unnamed: 0']

KeyError: 'Unnamed: 0'

In [30]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 16 columns):
idaviso            1500000 non-null int64
idpostulante       1500000 non-null object
sepostulo          1500000 non-null int64
nombre_zona        1500000 non-null float64
tipo_de_trabajo    1500000 non-null float64
nivel_laboral      1500000 non-null float64
nombre_area        1500000 non-null float64
online             1500000 non-null float64
sexo               1500000 non-null float64
edad               1500000 non-null int64
nombre             1500000 non-null int64
estado             1500000 non-null int64
nombre-estado      1500000 non-null int64
mesnacimiento      1500000 non-null int64
dianacimiento      1500000 non-null int64
anionacimiento     1500000 non-null int64
dtypes: float64(6), int64(9), object(1)
memory usage: 183.1+ MB

In [31]:
ts.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set15M.csv', index = False)

In [3]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set1M.csv')
df100k = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts1M.csv')

In [26]:
import hashlib
int(int(hashlib.sha1('323').hexdigest(), 16) % (1000000))

811695

In [20]:
ts['idaviso'] = ts['idaviso'].apply(lambda x: int(int(hashlib.sha1(str(x)).hexdigest(), 16) % (1000000)))
ts['idpostulante'] = ts['idpostulante'].apply(lambda x: int(int(hashlib.sha1(x).hexdigest(), 16) % (1000000)))

In [21]:
ts.head(20)

,idaviso,idpostulante,sepostulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,153264,478854,1,0.00000,0.000000,2.00000,0.000000,1.000000,1.000000,29.000000,3.000000,1.000000,10.000000,1989.00000,1.000000,27.000000
1,907499,766176,0,0.00000,0.000000,2.00000,25.000000,1.000000,0.000000,23.000000,1.000000,2.000000,5.000000,1995.00000,5.000000,9.000000
2,15491,603749,0,0.09115,0.202169,1.61753,19.474092,0.577958,0.000000,28.000000,3.000000,2.000000,11.000000,1990.00000,5.000000,22.000000
3,735621,465629,1,0.00000,0.000000,2.00000,2.000000,0.000000,1.000000,44.000000,1.000000,2.000000,5.000000,1974.00000,12.000000,8.000000
4,60971,334445,1,0.00000,0.000000,2.00000,5.000000,1.000000,0.000000,39.000000,3.000000,2.000000,11.000000,1979.00000,9.000000,20.000000
5,342593,832131,1,0.00000,0.000000,2.00000,55.000000,1.000000,1.000000,26.000000,3.000000,2.000000,11.000000,1992.00000,11.000000,12.000000
6,409906,934104,1,0.00000,0.000000,2.00000,33.000000,1.000000,0.000000,27.000000,2.000000,2.000000,8.000000,1991.00000,3.000000,6.000000
7,549355,417047,1,0.00000,0.000000,0.00000,3.000000,0.000000,0.000000,49.000000,3.000000,1.000000,10.000000,1969.00000,5.000000,20.000000
8,885850,678766,1,0.00000,0.000000,2.00000,32.000000,0.000000,0.521798,30.433444,2.313715,1.484902,8.426047,1987.57707,6.497073,15.705428
9,92290,1247,0,0.00000,0.000000,0.00000,12.000000,1.000000,0.000000,25.000000,1.000000,1.000000,4.000000,1993.00000,9.000000,21.000000
10,593830,945586,1,0.00000,0.000000,1.00000,17.000000,0.000000,1.000000,39.000000,3.000000,2.000000,11.000000,1979.00000,11.000000,26.000000
11,343527,324331,1,0.00000,0.000000,2.00000,1.000000,1.000000,0.000000,26.000000,3.000000,1.000000,10.000000,1992.00000,4.000000,29.000000
12,589112,390511,1,0.00000,0.000000,2.00000,12.000000,1.000000,1.000000,23.000000,3.000000,1.000000,10.000000,1995.00000,4.000000,25.000000
13,678462,248753,1,0.00000,0.000000,0.00000,0.000000,1.000000,0.000000,24.000000,1.000000,2.000000,5.000000,1994.00000,5.000000,5.000000
14,877591,401722,1,1.00000,1.000000,1.00000,22.000000,1.000000,1.000000,24.000000,3.000000,1.000000,10.000000,1994.00000,10.000000,13.000000
15,539885,551574,1,0.00000,0.000000,2.00000,17.000000,1.000000,1.000000,21.000000,3.000000,1.000000,10.000000,1997.00000,9.000000,30.000000
16,339234,707146,1,0.00000,1.000000,2.00000,110.000000,0.000000,1.000000,31.000000,3.000000,2.000000,11.000000,1987.00000,5.000000,11.000000
17,556062,514241,0,0.00000,0.000000,2.00000,83.000000,1.000000,1.000000,37.000000,3.000000,2.000000,11.000000,1981.00000,3.000000,19.000000
18,123301,487791,1,0.00000,0.000000,2.00000,3.000000,0.000000,0.521798,30.433444,2.313715,1.484902,8.426047,1987.57707,6.497073,15.705428
19,22395,100413,0,0.00000,0.000000,2.00000,52.000000,0.000000,1.000000,28.000000,1.000000,2.000000,5.000000,1990.00000,7.000000,4.000000

In [22]:
ts.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set1M.csv', index = False)

In [27]:
df100k['idaviso'] = df100k['idaviso'].apply(lambda x: int(int(hashlib.sha1(str(x)).hexdigest(), 16) % (1000000)))
df100k['idpostulante'] = df100k['idpostulante'].apply(lambda x: int(int(hashlib.sha1(x).hexdigest(), 16) % (1000000)))

In [29]:
df100k.head()

,id,idaviso,idpostulante,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,0,663149,32897,1.0,0.0,3.0,1.0,0.0,1.0,42.0,6.0,2.0,20.0,1976.0,3.0,29.0
1,1,663149,995369,1.0,0.0,3.0,1.0,0.0,0.0,31.0,2.0,2.0,8.0,1987.0,6.0,27.0
2,2,663149,32001,1.0,0.0,3.0,1.0,0.0,1.0,36.0,3.0,2.0,11.0,1982.0,2.0,17.0
3,3,102371,296405,1.0,0.0,0.0,6.0,0.0,0.0,69.0,4.0,2.0,14.0,1949.0,12.0,24.0
4,4,102371,141562,1.0,0.0,0.0,6.0,0.0,1.0,32.0,3.0,1.0,10.0,1986.0,5.0,27.0

In [30]:
df100k.to_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts1M.csv', index = False)