In [1]:
import pandas as pd
import pyspark as py
from sklearn.datasets.samples_generator import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
%pylab inline
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score

Populating the interactive namespace from numpy and matplotlib

In [2]:
datos_post = pd.read_csv('ArchivosDatos/postulantes_to_train_1.csv')

In [3]:
datos_post.head()

,idpostulante,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,YZP,0,57,5,1,16,1961,5,1
1,ebE,0,66,4,2,14,1952,7,7
2,ZjlZ,0,48,5,2,17,1970,1,25
3,aEW8J,1,53,3,1,10,1965,5,19
4,8QGRj,1,38,3,1,10,1980,9,7

In [4]:
datos_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438597 entries, 0 to 438596
Data columns (total 9 columns):
idpostulante      438597 non-null object
sexo              438597 non-null float64
edad              438597 non-null int64
nombre            438597 non-null int64
estado            438597 non-null int64
nombre-estado     438597 non-null int64
anionacimiento    438597 non-null int64
mesnacimiento     438597 non-null int64
dianacimiento     438597 non-null int64
dtypes: float64(1), int64(7), object(1)
memory usage: 33.5+ MB

In [6]:
avisos = pd.read_csv('ArchivosDatos/avisos_ts1')

In [7]:
avisos.head()

,Unnamed: 0,idaviso,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online
0,0,1111556097,0,0,2,32,0
1,1,1111949392,0,0,2,47,1
2,2,1112145935,0,0,2,31,0
3,3,1112146010,0,0,2,4,1
4,4,1112211475,0,0,2,1,0

In [8]:
datos = pd.read_csv('ArchivosDatos/Training_set.csv')
datos.head()

   Unnamed: 0     idaviso idpostulante  sepostulo
0           0  1112257047      xke05Da          0
1           1  1111920714       Y9lQVr          0
2           2  1112346945       1MpolO          0
3           3  1112345547      jk5DDEr          0
4           4  1112237522       EB23zz          0

In [9]:
datos = datos.rename(index=str,columns={'Unnamed: 0':'ida'})

In [10]:
datos = datos.merge(avisos, on='idaviso', how='left')

In [11]:
datos = datos.merge(datos_post, on='idpostulante',how='left')

In [12]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14915016 entries, 0 to 14915015
Data columns (total 18 columns):
ida                int64
idaviso            int64
idpostulante       object
sepostulo          int64
Unnamed: 0         float64
nombre_zona        float64
tipo_de_trabajo    float64
nivel_laboral      float64
nombre_area        float64
online             float64
sexo               float64
edad               float64
nombre             float64
estado             float64
nombre-estado      float64
anionacimiento     float64
mesnacimiento      float64
dianacimiento      float64
dtypes: float64(14), int64(3), object(1)
memory usage: 2.1+ GB

In [13]:
datos.head()

,ida,idaviso,idpostulante,sepostulo,Unnamed: 0,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,online,sexo,edad,nombre,estado,nombre-estado,anionacimiento,mesnacimiento,dianacimiento
0,0,1112257047,xke05Da,0,12530,0,1,0,7,0,1,28,3,0,9,1990,7,9
1,1,1111920714,Y9lQVr,0,10137,0,1,2,22,0,1,31,2,2,8,1987,12,28
2,2,1112346945,1MpolO,0,1356,0,0,2,22,1,0,26,3,0,9,1992,7,6
3,3,1112345547,jk5DDEr,0,910,0,0,2,22,1,1,24,1,2,5,1994,11,13
4,4,1112237522,EB23zz,0,7276,0,0,2,5,0,0,38,4,1,13,1980,12,23

In [14]:
datos.to_csv('ArchivosDatos/Training_set_.csv')