In [2]:
import datetime as dt
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [3]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set1M.csv')
df100k_or = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts1M.csv')

In [4]:
test= ts[0:15000]
train = ts[15000:]

In [5]:
crossValidation = pd.DataFrame()
crossValidation['sepostulo'] = test['sepostulo']
test = test.drop(['sepostulo'], axis = 1)

In [8]:
trainx = train.drop(['sepostulo'], axis = 1)
trainy = train['sepostulo']

In [9]:
del trainx['idaviso']
del trainx['idpostulante']
del test['idaviso']
del test['idpostulante']
del df100k_or['idaviso']
del df100k_or['idpostulante']

In [12]:
l = [0, 1000, 10000, 5000]

for i in l:
    regressor = DecisionTreeRegressor(max_features = 'log2', random_state = i)
    trainedSet = regressor.fit(trainx, trainy)
    predictions = trainedSet.predict(test)
    score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
    print 'for l = ' + str(i) + 'score = ' + str(score)

for l = 0score = 0.37408411043
for l = 1000score = 0.374144326322
for l = 10000score = 0.374753922931
for l = 5000score = 0.367533330963

In [13]:
for i in l:
    regressor = DecisionTreeRegressor(max_features = 'auto', random_state = i)
    trainedSet = regressor.fit(trainx, trainy)
    predictions = trainedSet.predict(test)
    score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
    print 'for l = ' + str(i) + 'score = ' + str(score)

for l = 0score = 0.370757280263
for l = 1000score = 0.368514354337
for l = 10000score = 0.3680889423
for l = 5000score = 0.36760018304

In [15]:
del df100k_or['id']

In [16]:
predictions = trainedSet.predict(df100k_or)

In [17]:
dic_knn = {'sepostulo': predictions}
df = pd.DataFrame.from_dict(dic_knn)
df['id'] = df.index
df['sepostula'] = df['sepostulo']
del df['sepostulo']
df['sepostulo'] = df['sepostula']
del df['sepostula']
df

          id  sepostulo
0          0        1.0
1          1        1.0
2          2        0.0
3          3        0.0
4          4        0.0
5          5        1.0
6          6        1.0
7          7        0.0
8          8        1.0
9          9        1.0
10        10        1.0
11        11        1.0
12        12        0.0
13        13        0.0
14        14        1.0
15        15        1.0
16        16        0.0
17        17        1.0
18        18        1.0
19        19        1.0
20        20        0.0
21        21        1.0
22        22        0.0
23        23        0.0
24        24        0.0
25        25        0.0
26        26        1.0
27        27        0.0
28        28        0.0
29        29        1.0
...      ...        ...
99970  99970        0.0
99971  99971        0.0
99972  99972        1.0
99973  99973        0.0
99974  99974        0.0
99975  99975        0.0
99976  99976        0.0
99977  99977        1.0
99978  99978        1.0
99979  99979        1.0
99980  99980        1.0
99981  99981        0.0
99982  99982        1.0
99983  99983        1.0
99984  99984        1.0
99985  99985        1.0
99986  99986        1.0
99987  99987        1.0
99988  99988        1.0
99989  99989        0.0
99990  99990        0.0
99991  99991        0.0
99992  99992        0.0
99993  99993        0.0
99994  99994        1.0
99995  99995        0.0
99996  99996        1.0
99997  99997        0.0
99998  99998        1.0
99999  99999        0.0

[100000 rows x 2 columns]

In [18]:
df['sepostulo'].value_counts()

1.000000    55152
0.000000    42255
0.500000     1587
0.666667      412
0.750000      172
0.800000      109
0.333333       95
0.833333       53
0.857143       41
0.600000       37
0.900000       26
0.400000       17
0.250000       12
0.875000        9
0.888889        7
0.818182        3
0.714286        3
0.928571        3
0.909091        2
0.625000        2
0.166667        1
0.428571        1
0.923077        1
Name: sepostulo, dtype: int64

In [19]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/DecisionTreeRegressor_0.csv', index = False)

In [22]:
df['sepostulo'] = df['sepostulo'].apply(lambda x: x if x == 1 else 0)

In [23]:
df['sepostulo'].value_counts()

1.0    55152
0.0    44848
Name: sepostulo, dtype: int64

In [24]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/DecisionTreeRegressor_0.csv', index = False)