In [7]:
import datetime as dt
import pandas as pd
import numpy as np
from sklearn import neighbors
from sklearn.metrics import mean_squared_error

In [2]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set1M.csv')
df100k_or = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts1M.csv')

In [8]:
test= ts[0:15000]
train = ts[15000:]

In [9]:
crossValidation = pd.DataFrame()
crossValidation['sepostulo'] = test['sepostulo']
test = test.drop(['sepostulo'], axis = 1)

In [10]:
trainx = train.drop(['sepostulo'], axis = 1)
trainy = train['sepostulo']

In [18]:
klist = [1]
algorithms= ['ball_tree']
predictionList=[]
scoreList=[]
for k in klist:
    for a in algorithms:
        knn = neighbors.KNeighborsRegressor(k, weights='uniform', algorithm=a, p = 3)
        predictions = knn.fit(trainx, trainy)
        predictions = predictions.predict(test)
        predictionList.append('KNN-K: '+str(k)+'-algorithm: '+a)
        score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
        scoreList.append(score)

In [17]:
#p=4
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

KNN-K: 1-algorithm: ball_tree 0.482466666667
KNN-K: 1-algorithm: kd_tree 0.482466666667
KNN-K: 10-algorithm: ball_tree 0.266064
KNN-K: 10-algorithm: kd_tree 0.266064
KNN-K: 25-algorithm: ball_tree 0.255565013333
KNN-K: 25-algorithm: kd_tree 0.255567466667
KNN-K: 50-algorithm: ball_tree 0.25116224
KNN-K: 50-algorithm: kd_tree 0.251163813333
KNN-K: 100-algorithm: ball_tree 0.248350046667
KNN-K: 100-algorithm: kd_tree 0.248350046667

In [15]:
#p=3
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

KNN-K: 1-algorithm: ball_tree 0.483066666667
KNN-K: 1-algorithm: kd_tree 0.483066666667
KNN-K: 10-algorithm: ball_tree 0.26569
KNN-K: 10-algorithm: kd_tree 0.26569
KNN-K: 25-algorithm: ball_tree 0.255207466667
KNN-K: 25-algorithm: kd_tree 0.255206613333
KNN-K: 50-algorithm: ball_tree 0.251237226667
KNN-K: 50-algorithm: kd_tree 0.251237226667
KNN-K: 100-algorithm: ball_tree 0.248455406667
KNN-K: 100-algorithm: kd_tree 0.248455406667
KNN-K: 250-algorithm: ball_tree 0.247082997333
KNN-K: 250-algorithm: kd_tree 0.247082770133
KNN-K: 500-algorithm: ball_tree 0.246413211467
KNN-K: 500-algorithm: kd_tree 0.246413211467

In [13]:
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

 KNN-K: 1-algorithm: ball_tree 0.481333333333
KNN-K: 1-algorithm: kd_tree 0.481333333333
KNN-K: 10-algorithm: ball_tree 0.265929333333
KNN-K: 10-algorithm: kd_tree 0.265929333333
KNN-K: 25-algorithm: ball_tree 0.25515584
KNN-K: 25-algorithm: kd_tree 0.25515584
KNN-K: 50-algorithm: ball_tree 0.251198053333
KNN-K: 50-algorithm: kd_tree 0.251199626667
KNN-K: 100-algorithm: ball_tree 0.248419526667
KNN-K: 100-algorithm: kd_tree 0.248419526667
KNN-K: 250-algorithm: ball_tree 0.247104219733
KNN-K: 250-algorithm: kd_tree 0.247104449067
KNN-K: 500-algorithm: ball_tree 0.246364124267
KNN-K: 500-algorithm: kd_tree 0.246364124267

In [15]:
del df100k['id']

In [ ]:
klist = [1]
algorithms= ['ball_tree']
predictionList=[]
scoreList=[]
for k in klist:
    for a in algorithms:
        knn = neighbors.KNeighborsRegressor(k, weights='uniform', algorithm=a, p=3)
        predictions = knn.fit(trainx, trainy)
        df = predictions.predict(df100k_or)

In [19]:
df100k

array([ 0.,  0.,  0., ...,  1.,  1.,  1.])

In [23]:
dic_knn = {'sepostulo': df100k}
df = pd.DataFrame.from_dict(dic_knn)

In [24]:
df['id'] = df.index

In [26]:
df['sepotula'] = df['sepostulo']

In [29]:
df['sepostulo'] = df['sepotula']
df

          id  sepotula  sepostulo
0          0       0.0        0.0
1          1       0.0        0.0
2          2       0.0        0.0
3          3       1.0        1.0
4          4       1.0        1.0
5          5       1.0        1.0
6          6       1.0        1.0
7          7       0.0        0.0
8          8       1.0        1.0
9          9       1.0        1.0
10        10       1.0        1.0
11        11       1.0        1.0
12        12       1.0        1.0
13        13       0.0        0.0
14        14       0.0        0.0
15        15       0.0        0.0
16        16       1.0        1.0
17        17       1.0        1.0
18        18       0.0        0.0
19        19       0.0        0.0
20        20       1.0        1.0
21        21       0.0        0.0
22        22       0.0        0.0
23        23       1.0        1.0
24        24       0.0        0.0
25        25       1.0        1.0
26        26       0.0        0.0
27        27       1.0        1.0
28        28       0.0        0.0
29        29       1.0        1.0
...      ...       ...        ...
99970  99970       1.0        1.0
99971  99971       0.0        0.0
99972  99972       1.0        1.0
99973  99973       0.0        0.0
99974  99974       0.0        0.0
99975  99975       0.0        0.0
99976  99976       1.0        1.0
99977  99977       1.0        1.0
99978  99978       1.0        1.0
99979  99979       1.0        1.0
99980  99980       1.0        1.0
99981  99981       0.0        0.0
99982  99982       1.0        1.0
99983  99983       0.0        0.0
99984  99984       1.0        1.0
99985  99985       1.0        1.0
99986  99986       1.0        1.0
99987  99987       1.0        1.0
99988  99988       0.0        0.0
99989  99989       0.0        0.0
99990  99990       1.0        1.0
99991  99991       1.0        1.0
99992  99992       0.0        0.0
99993  99993       1.0        1.0
99994  99994       1.0        1.0
99995  99995       1.0        1.0
99996  99996       1.0        1.0
99997  99997       1.0        1.0
99998  99998       1.0        1.0
99999  99999       1.0        1.0

[100000 rows x 3 columns]

In [31]:
del df['sepotula']

In [32]:
df.head()

   id  sepostulo
0   0        0.0
1   1        0.0
2   2        0.0
3   3        1.0
4   4        1.0

In [33]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_knn_balltree_1.csv', index = False)